{% extends '::public.html.twig' %}
{% block title %}Login{% endblock %}
{% block id %}login{% endblock %}
{% block login %}active{% endblock %}
{% block fullcontenido %}
    <section>
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Login</li>
                </ol>
            </div><!--/breadcrums-->
        </div>
    </section>
    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    {% if error %}
                    <div class="alert alert-danger">
                    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    	<strong>¡Error!</strong> {{ error.message }}
                    </div>
                    {% endif %}
                    <div class="login-form"><!--login form-->
                        <h2>Entra a tu cuenta</h2>
                        <form action="{{ path('cliente_login_check') }}" method="post">
                            <input type="text" name="_username" placeholder="Email" value="{{ last_username }}"/>
                            <input type="password" name="_password" placeholder="Contraseña" />
							<span>
								<input type="checkbox" name="_remember_me" class="checkbox" checked>
								No cerrar sesión
							</span>
                            <button type="submit" class="btn btn-default">Entrar</button>
                        </form>
                    </div><!--/login form-->
                </div>
            </div>
        </div>
    </section><!--/form-->
{% endblock %}