{% extends '::admin.html.twig' %}
{% block contenido %}
    <form action="{{ path('backend_tipounidad_actualizar',{'id':tipounidad.id}) }}" method="POST">
    	<legend>Modificar Tipo de Unidad para los Productos</legend>
            {{ form_widget(formulario) }}
    	<button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
{% endblock %}