{% extends '::admin.html.twig' %}
{% block contenido %}
    <div class="row-fluid">
        <div class="block">
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">Proveedores</div>
                </div>
            </div>
            <div class="block-content collapse in">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for proveedor in proveedores %}
                        <tr>
                            <td>{{ proveedor.id }}</td>
                            <td>{{ proveedor.nombre }}</td>
                            <td><a href="{{ path('editar_proveedor', {'id':proveedor.id}) }}">Modificar</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>
{% endblock %}