<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title '' %} | E-Shopper</title>
        <link rel="shortcut icon" href="#">
        {% block linkhead %}{% endblock %}
    </head><!--/head-->

    <body id="{% block id '' %}">
        {% block body %}{% endblock %}
        <br/>
        <footer id="footer"><!--Footer-->
            {% block footer %}{% endblock %}
        </footer><!--/Footer-->
        {% block jsbody %}{% endblock %}
    </body>
</html>