{% extends '::admin.html.twig' %}
{% block contenido %}
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left" a><h2>Bienvenido.</h2></div>
                    <div class="pull-right"><!--<span class="badge badge-warning">View More</span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}