{% extends '::admin.html.twig' %}
{% block contenido %}
	<form action="{{ path('usuario_registro') }}" method="post">
		{{ form_widget(usuario) }}
		{{ form_widget(direccion) }}
		<input type="submit" name="" value="Registrar">
	</form>
{% endblock %}