{% extends '::admin.html.twig' %}
{% block contenido %}
    <h1>Detalle de la Compra a Proveedor</h1>
    <h4>Llene los datos el producto</h4>
    <form action="{{ path('registro_detalle') }}" method="post" {{ form_enctype(formproducto) }}>
        {{ form_widget(formproducto) }}
        <input type="hidden" value="{{ movimiento }}" name="movimiento"/>
        <br/>
        <input type="submit" name="accion" value="Otro Producto"/>
        <input type="submit" name="accion" value="Terminar"/>
    </form>

{% endblock %}