{% extends '::admin.html.twig' %}
{% block contenido %}
    <div class="row-fluid">
        <div class="block">
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">Detalles</div>
                </div>
            </div>
            <div class="block-content collapse in">
                <table class="stripe" id="table-index">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    {% for detalle in detalles %}
                        <tr>
                            <td>{{ detalle.producto.nombre }}</td>
                            <td>{{ detalle.producto.existencia }}</td>
                            <td><a href="{{ path('producto_show',{'id':detalle.producto.id}) }}">Detalles</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /block -->
    </div>
{% endblock %}