{% extends '::public.html.twig' %}
{% block title %}Contacto{% endblock %}
{% block id %}contacto{% endblock %}
{% block contacto %}active{% endblock %}
{% block fullcontenido %}
    <div id="contact-page" class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ path('portada') }}">Home</a></li>
                <li class="active">¿Quienes somos?</li>
            </ol>
        </div>
        <div class="bg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title text-center"><strong>Contactanos</strong></h2>
                    <div id="gmap" class="contact-map">
                    </div>
                </div>
            </div>
        </div>
    </div><!--/#contact-page-->
{% endblock %}