<h2>Categorias</h2>
<div class="panel-group category-products" id="accordian"><!--category-productsr-->
    <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="{{ path('productos', {'categoria':'todos'} ) }}">Todos</a></h4>
            </div>
        </div>
    {% for categoria in categorias %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="{{ path('productos', {'categoria':categoria.slug} ) }}">{{ categoria.descripcion }}</a></h4>
            </div>
        </div>
    {% endfor %}
</div><!--/category-products-->

{# <div class="brands_products"><!--brands_products-->
    <h2>Marcas</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            {% for marca in marcas %}
                <li><a href="#"> <span class="pull-right">(50)</span>{{ marca.nombre }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div><!--/brands_products--> #}