{% extends '::admin.html.twig' %}

{% block contenido%}
    <h1>Crear Tipo de Proveedor</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipoproveedor') }}">
            Regresar a la Lista
        </a>
    </li>
</ul>
{% endblock %}
