{% extends '::admin.html.twig' %}

{% block contenido %}
    <h1>Agregar Un Estado</h1>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('estado') }}">
            Regresar a la Lista
        </a>
    </li>
</ul>
{% endblock %}
