{% extends '::admin.html.twig' %}

{% block contenido %}
        <div class="block">
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">Lista de Tipos de Productos</div>
                    <h5 class="text-right">
                        <a href="{{ path('tipoProducto_new') }}">
                            Agregar un tipo
                        </a>
                    </h5>
                </div>
            </div>

            <div class="block-content collapse in">
                <table class="stripe" id="table-index">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.descripcion }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('tipoProducto_edit', { 'id': entity.id }) }}">Editar</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
