{% extends '::admin.html.twig' %}

{% block contenido%}
    <h1>Creacion de Tipo de Producto</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipoProducto') }}">
            Regresar a la Lista
        </a>
    </li>
</ul>
{% endblock %}
