{% extends '::admin.html.twig' %}

{% block contenido %}
    <h1>Actualizar Colonia</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('colonia') }}">
            Regresar a la Lista
        </a>
    </li>
    {#<li>{{ form(delete_form) }}</li>#}
</ul>
{% endblock %}
