{% extends '::admin.html.twig' %}

{% block contenido %}
    <h1>Agregar Colonia</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('colonia') }}">
            Regresar a la Lista
        </a>
    </li>
</ul>
{% endblock %}
