{% extends '::admin.html.twig' %}

{% block contenido %}
    <h1>Agendar un Pedido</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('fechapedidos') }}">
            Regresar a la Lista
        </a>
    </li>
</ul>
{% endblock %}
